[build]
publish = "/home/project/dist/public"
command = "npx vite build"

[build.environment]
NODE_VERSION = "20"

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/server/:splat"
status = 200

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[functions]
directory = "netlify/functions"
node_bundler = "esbuild"